.red {
  color: red;
}
div {
  font-size: 32px;
}
body {
  background-color: #f0f2f5;
}
img {
  width: 500px;
  height: 500px;
}
.bg2 {
  margin: 10px 0;
  width: 500px;
  height: 500px;
  background-image: url(http://localhost:8000/images/2.6af9d5a7.jpeg);
  background-size: 100%;
}
.bg3 {
  width: 500px;
  height: 500px;
  background-image: url(http://localhost:8000/images/3.bba633cf.jpeg);
  background-size: 100%;
}

